<div class="container mt-4">
  <div class="d-flex justify-content-between">
    <h2>Parking Records</h2>
    <div class="d-flex gap-2">
      <div class="btn-goto" (click)="goToDashboard()">Go To Dashboard</div>
      <div class="btn-goto" (click)="goToEntry()">Go To Entry</div>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Owner Name</th>
        <th>Vehicle Type</th>
        <th>License Number</th>
        <th>Entry Time</th>
        <th>Exit Time</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of parkingRecords">
        <td>{{ record.ownerName }}</td>
        <td>{{ record.vehicleType }}</td>
        <td>{{ record.licenseNumber }}</td>
        <td>{{ record.entryTime | date: 'short' }}</td>
        <td>{{ record.exitTime | date: 'short' }}</td>
        <td>{{ record.status }}</td>
        <td><a class="edit-btn" (click)="editEntry(record.id)"><i class="fa-solid fa-pen-to-square"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>